body {
    padding: 0px;
    margin: 0px;
}

.tablestyle {
    /* border-collapse: collapse; */
}

.page-wrapper {
	
    /* border: 1px #ababab solid;
    min-height: 1122px;
    width: 793px;
    position: relative;
    margin: 20px auto; */
}

.page-div {
    /* padding: 60px 96px; */
}

.text-danger {
    /* color: #f00; */
}

.title-block {
    font-weight: bold;
    font-size: 16pt;
    font-family: Times New Roman, Times New Roman_MSFontService, Serif;
    line-height: 28px;
	/* border: #000000 1px solid; */
}

table tfoot input {
    border: 1px solid #666;
}

table tfoot tr td {
    height: 20px;
    line-height: 20px;
    text-align: center;
    padding: 7px;
}

.a-btn {
    color: dodgerblue;
    cursor: pointer;
}

.radio input {
    width: auto;
    top: 10px;
}

input.underline {
    width: 4em;
    text-align: center;
    border-bottom: 1px solid #666;
    line-height: 20px;
}

.radio {
    display: inline-block;
    margin: 0px 5px;
}

td {
    border: 1px solid #000;
    vertical-align: middle;
    line-height: 37px;
    padding: 0px 7px;
}

td input,
td textarea {
    border: none;
    outline: none;
    width: 100%;
}

td select {
    width: 100%;
}

td input.cb {
    width: auto;
    display: inline-block;
    margin-right: 5px;
}

td label {
    margin-bottom: 0px !important;
}

td.result-block {
    position: relative;
    padding-bottom: 42px;
}

.upload-block {
    position: absolute;
    bottom: 5px;
}

.result-block .media {
    margin-top: 10px;
    display: block;
    position: relative;
}

.result-block .icon {
    width: 40px;
    height: 40px;
    background-color: #4e5154;
    display: inline-block;
    color: #fff;
    font-size: 32px;
    border-radius: 3px;
    padding-top: 0px;
    padding-left: 10px;
}

.result-block .icon i {
    font-size: 25px;
    margin-left: 0px;
}

.result-block .breadcrumb {
    margin: 0;
    padding: 0;
    background: none;
    font-size: 11px;
    color: #999;
    line-height: 18px;
}

.result-block h4 {
    margin: -2px 0 0 0;
    font-size: 18px;
    font-weight: 500;
    color: #2f363d;
    line-height: normal;
}

.media .remove {
    display: block;
    position: absolute;
    right: 20px;
    top: 0px;
    height: 37px;
    line-height: 37px;
}

.text-cut {
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}