<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>作业4</title>
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<style>
			.title {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<h1 class="title">个人简历</h1>
		<div id="app">
			<div id="divEdit" v-show="ifEdit">
				<input v-model="txtInfo" placeholder="输入单行文本..." />

				<hr />
				<p>textarea 元素：</p>

				<!-- CSS white-space 的属性 pre：保留文本中的空白、换行符；
			遇到框的宽度约束时不会自动换行，文本存在 <br> 或文本中有换行符时，文本才会换行-->
				
				<textarea v-model="txtMultiline" placeholder="输入多行文本..."></textarea>
				<hr />

				<p>单个复选框</p>
				<input type="checkbox" id="checkbox1" v-model="ifChecked" />
				<label for="checkbox1">是否选择</label>

				<p>多个复选框：</p>
				<input type="checkbox" id="id1" value="数据1" v-model="checkedNames">
				<label for="id1">数据1</label>
				<input type="checkbox" id="id2" value="数据2" v-model="checkedNames">
				<label for="id2">数据2</label>
				<input type="checkbox" id="id3" value="数据3" v-model="checkedNames">
				<label for="id3">数据3</label>
				<br>
				

				<p>单选框</p>
				<input type="radio" id="r1" value="数据4" v-model="rchoice">
				<label for="r1"数据4</label>
				<input type="radio" id="r2" value="数据5" v-model="rchoice">
				<label for="r2">数据5</label>
				<br>
				

				<p>下拉列表</p>
				<select v-model="selectedht" name="hightech">
					<option value="">请选择相亲对象</option>
					<option value="小明">小明</option>
					<option value="小红">小红</option>
					<option value="大飞">大飞</option>
					<option value="阿申">阿申</option>
				</select>
				<br />
				
				<hr />
				<button @click="submit()">提交</button>
			</div>
			<div id="divDisp" v-show="!ifEdit">
				<p>输入的信息是：{{txtInfo}}</p>
				<hr />
				<p style="white-space: pre">{{ txtMultiline }}</p>
				<pre>输入的多行信息是：<br>{{txtMultiline}}</pre>
				<hr />
				是否选择：{{ifChecked}}
				<hr />
				<span>选择的值为: {{ checkedNames }}</span>
				<hr />
				<span>选择的值为: {{ rchoice }}</span>
				<hr />
				<span>选择的值为: {{ selectedht }}</span>
				<hr />
				<button @click="toEdit()">返回</button>
			</div>
		</div>

		<script>
			var vm = new Vue({
				el: "#app",
				data: {
					ifEdit: true,

					txtInfo: "",
					txtMultiline: "",

					ifChecked: false,
					checkedNames: [],
					rchoice: "11",
					selectedht: ""
				},
				methods: {
					submit() {
						this.ifEdit = ! this.ifEdit;
						/* 在日志中查看提交的数据 */
						console.log(this.txtInfo);
						console.log(this.checkedNames);

						/* 可以创建一个对象，包含表单中的相关数据，在日志中查看提交的数据 */
						var dataobj = {
							tinfo: this.txtInfo,
							tmultiline: this.txtMultiline,
							ifcheck: this.ifChecked,
							cnames: this.checkedNames,
							rc: this.rchoice,
							sht: this.selectedht
						}
						console.log(dataobj);
					},
					toEdit(){
						this.ifEdit = ! this.ifEdit;
					}
				}
			})
		</script>
	</body>
</html>
